# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IndianBotProjects\minecraft_checker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
